{% extends 'base.html' %}
{% block content %}

<h3>Add job page</h3>


<form method="POST" action= "{% url 'add_job' %}">
  {% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Select Customer</label>
        <input list="list" name = "customer" class="form-control" id="make" aria-describedby="emailHelp">
        <datalist id="list" >
          <option>Select Customer</option>
          {% for customer in customers %}
          <option value="{{customer.full_name}}">{{customer.phone}} {{customer.email}}</option>
          {% endfor %}
      </datalist>


      </div>
        <!-- Radio button for devices -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Select Device Type</label>

          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            {% for device in device_context %}
            
            <input type="radio" class="btn-check" onclick="my_mobile()" name="device_mobile" value="{{device.devices}}" id="{{device.devices}}" autocomplete="off" >
            <!--line 30 id should be unique when we pass variables in the id it wil get uniqe name -->


            <label class="btn btn-outline-primary" for = "{{device.devices}}" >{{device.devices}}</label>
            {% endfor %}
          
           
          </div> 
          
        </div>

        <!-- dropdown menu for Make and this div s  -->
        <div class="mb-3" id="mobile_div" style="display: none;">
          <label for="exampleInputEmail1" class="form-label">Make {{make.make_device.all }}</label>
          <!--name always used in views.py functions and ID always used in front end and html,javascripts -->
          <input list="make_list" name = "make" class="form-control" id="make_mobile" aria-describedby="emailHelp">
          <datalist id="make_list" >
            <option>Select Make</option>
            {% for make in make_context %}
            
            {% if make.device.id == 6 %}
            <option value="{{make.make}}"></option>
            <!-- in line 49 first comes from for loop variable and 2nd make comes from models fields/column -->
            {% endif %}
            {% endfor %}
        </datalist>


      </div>
      
      
       
        <div class="mb-3" id="laptop_div">
          <label for="exampleInputEmail1" class="form-label">Make {{make.make_device.all }}</label>
          <!-- name always used in views.py functions and ID always used in front end and html -->
          <input list="make_list" name = "make" class="form-control" id="make_laptop" aria-describedby="emailHelp">
          <datalist id="make_list" >
            <option>Select Make</option>
            {% for make in make_context %}
            {% if make.device.id == 7 %}
            <option value="{{make.make}}"></option>
            {% endif %}
            {% endfor %}
        </datalist>


        </div>

<!--
        <div class="mb-3" id="tablet_div">
          <label for="exampleInputEmail1" class="form-label">Make</label>
          {% comment %} name always used in views.py functions and ID always used in front end and html {% endcomment %}
          <input list="make_list" name = "make" class="form-control" id="make" aria-describedby="emailHelp">
          <datalist id="make_list" >
            <option>Select Make</option>
            {% for make in make_context %}
            <option value="{{make.make}}"></option>
            {% endfor %}
        </datalist>


        </div>


        <div class="mb-3" id="other_div">
          <label for="exampleInputEmail1" class="form-label">Make</label>
          {% comment %} name always used in views.py functions and ID always used in front end and html {% endcomment %}
          <input list="make_list" name = "make" class="form-control" id="make" aria-describedby="emailHelp">
          <datalist id="make_list" >
            <option>Select Make</option>
            {% for make in make_context %}
            <option value="{{make.make}}"></option>
            {% endfor %}
        </datalist>


        </div> --> 

        {% comment %} Model dropdown starts here  {% endcomment %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Model</label>
          {% comment %} name always used in views.py functions and ID always used in front end and html {% endcomment %}
          <input list="model_list" name = "make" class="form-control" id="model" aria-describedby="emailHelp">
          <datalist id="model_list" >
            <option>Select model</option>
            {% for model in model_context %}
            <option value="{{model.model}}"></option>
            {% endfor %}
        </datalist>


        </div>




        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">IMEI</label>
          <input type="text" name = "imei" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
          {% comment %} <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <textarea class="form-control" name = "address"id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
            
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Postcode</label>
            <input type="text" name = "postcode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div> {% endcomment %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col">
      
    </div>
  </div>


<script>
  function my_mobile(){
    var x = document.getElementById("mobile_div");
    x.style.display = "block"
  }


  function my_laptop(){
    var l = document.getElementById("laptop_div");
    l.style.display = "block"
  }
  
 
</script>

{% endblock %}