{% extends 'base.html' %}
{% block content %} 


<h3>Complete  page</h3>
<form method="POST" action= "#">
    {% csrf_token %}
<div class="form-floating col col-12 border bg-light ">
    <div class="form-floating col col-4 ">
        {% comment %} {% for complete_job_context in complete_job_context %} {% endcomment %}
        
        
        <div class="input-group mb-3">
          JOB ID :  {{ complete_job_context.id }}
          </div>
    
        <div class="input-group mb-3">
            Make :  {{ complete_job_context.make }}
        </div>


        <div class="input-group mb-3">
            Model :  {{ complete_job_context.model }}
        </div>

        {% comment %} {% endfor %} {% endcomment %}

        {% comment %} {% endfor %} {% endcomment %}

        {% comment %} <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Waranty sticker</span>
        <input type="#" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div> {% endcomment %}


        

            {% comment %} <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select part Number</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
          
    
         {% endcomment %}

        <br>
        
        {% comment %} <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Select part</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
            <option value="3">Our Own Part</option>
        </select>
       {% endcomment %}

        <br> 
          {% comment %} cost input {% endcomment %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"> <strong> Cost : {{ complete_job_context.cost }}</strong></label>
            <input type="number" value="{{ complete_job_context.cost }}" name = "cost_com_name" class="form-control" id="cost_com_id" >
    
          </div>

          
          {% comment %} <div class="mb-3"  >
            
            <label for="payment_status_list" class="form-label"> <strong> Payment Status </strong> </label>
            <select id="payment_status_list" name = "payment_status_com_name" class="form-control">
      
              {% for payment_status in complete_job_context %}
      
              <option value="PAID" {% if complete_job_context.payment_status == "PAID" %} selected {% endif %} >PAID</option>
              <option value="UNPAID" {% if complete_job_context.payment_status == "UNPAID" %} selected {% endif %}>UNPAID</option>
              <option value="CREDIT NOTE" {% if complete_job_context.payment_status == "CREDIT NOTE" %} selected {% endif %}>CREDIT NOTE</option>
              <option value="REFUND" {% if complete_job_context.payment_status == "REFUND" %} selected {% endif %}>REFUND</option>
      
              {% endfor %}
            </select>
        
        
        </div>  {% endcomment %}


    
    
        <div>
            <textarea class="form-control" {{ complete_job_context.c_job.description }} name="Complete_area_name" placeholder="Leave a comment here" id="Complete_area_id"></textarea>
        </div>
      <br>

      
       
        <button type="submit" class="btn btn-primary"> Complete</button>
    </form> 
    <div>    
  

    

</div>

{% endblock %}