{% extends 'base.html' %}

{% block content %}
<h3>Job detail page </h3>


<div class="container border border-dark  ">
  <div class="row">
    <div class="col border border-dark bg-light col-md-8 " >
      <h3 class="text-white bg-primary text-center">Job details</h3>
      

       <p class="mb-n4"><strong>JOB ID : </strong>&nbsp;&nbsp; <a href="#">{{detail_page_context.id}}&nbsp;&nbsp;</a> </p>
      <p class=""><strong>Device : </strong>&nbsp;&nbsp; {{detail_page_context.device}}</p>
      <p><strong> Make :</strong>&nbsp;&nbsp;{{detail_page_context.make}}</p>
      <p><strong>Model     :</strong> &nbsp;&nbsp;{{detail_page_context.model}}</p>
      <p><strong> Fault  :</strong>&nbsp;&nbsp;{{detail_page_context.fault}}</p>
      <p><strong> Description     :</strong>&nbsp;&nbsp;{{detail_page_context.description}}</p>
      <p><strong> IMEI   :</strong>&nbsp;&nbsp;{{detail_page_context.imei}}</p>
      <p><strong> Aceessories with device  :</strong>&nbsp;&nbsp;{{detail_page_context.accessories}}</p>
      <p><strong>Sale item on :</strong>&nbsp;&nbsp;{{detail_page_context.sale_item}}</p>
      <p><strong>Passcode :</strong>&nbsp;&nbsp; {{detail_page_context.passcode}}</p> 
      <p><strong>Netwrok :</strong>&nbsp;&nbsp; {{detail_page_context.network}}</p> 
      <p><strong>Cost :</strong>&nbsp;&nbsp; {{detail_page_context.cost}}</p> 
      <p><strong>Job status :</strong>&nbsp;&nbsp; {{detail_page_context.job_status}}</p> 
      <p><strong>Collection time :</strong>&nbsp;&nbsp; {{detail_page_context.collection_time}}</p> 
      <p><strong>Payment status :</strong>&nbsp;&nbsp; {{detail_page_context.payment_status}}</p> 
      <p><strong>Created by :</strong>&nbsp;&nbsp; {{detail_page_context.created_date}}</p> 
      <p><strong>Created by :</strong>&nbsp;&nbsp; {{detail_page_context.created_by}}</p> 

      <div ><h3 class="text-center"> <strong>Client information</strong></h3>

        <p>Client ID : {{detail_page_context.customer.id}}</p>
        <p>First Name : {{detail_page_context.customer.first_name}}</p>
        <p>Last Name : {{detail_page_context.customer.last_name}}</p>
        <p> Mobile :{{detail_page_context.customer.phone}}</p>
        <p>Landline :{{detail_page_context.customer.landline}}</p>
        <p>Email :{{detail_page_context.customer.email}}</p>
        <p>Address :{{detail_page_context.customer.address}}</p>
        <p>Postcode :{{detail_page_context.customer.postcode}}</p>


       
      </div>

      
    </div>
    <div class="col  bg-light  col-md-4" >
        <h3 class="text-white bg-primary text-center">Actions</h3>
        
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Update</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">View Reciept</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2" href="#">Client details</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Complete</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Update</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">View Reciept</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Client details</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Complete</a>
         
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Update</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">View Reciept</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Client details</a>
        <a class= "btn btn-primary btn-lg col-md-12 mb-2">Complete</a>
         
         
         
      </div>
</div>

{% comment %} job update area strats here {% endcomment %}
<div class="container border border-dark  ">
    <div class="row">
      <div class="col border border-dark bg-light col-md-8 " >
        <h3 class="text-white bg-primary text-center">Job details</h3>
        
  
         <p class="mb-n4"><strong>JOB ID : </strong>&nbsp;&nbsp; <a href="#">{{detail_page_context.id}}&nbsp;&nbsp;</a> </p>
        <p class=""><strong>Device : </strong>&nbsp;&nbsp; {{detail_page_context.device}}</p>
        <p><strong> Make :</strong>&nbsp;&nbsp;{{detail_page_context.make}}</p>
        <p><strong>Model     :</strong> &nbsp;&nbsp;{{detail_page_context.model}}</p>
        <p><strong> Fault  :</strong>&nbsp;&nbsp;{{detail_page_context.fault}}</p>
        <p><strong> Description     :</strong>&nbsp;&nbsp;{{detail_page_context.description}}</p>
        <p><strong> IMEI   :</strong>&nbsp;&nbsp;{{detail_page_context.imei}}</p>
        <p><strong> Aceessories with device  :</strong>&nbsp;&nbsp;{{detail_page_context.accessories}}</p>
        <p><strong>Sale item on :</strong>&nbsp;&nbsp;{{detail_page_context.sale_item}}</p>
        <p><strong>Passcode :</strong>&nbsp;&nbsp; {{detail_page_context.passcode}}</p> 
        <p><strong>Netwrok :</strong>&nbsp;&nbsp; {{detail_page_context.network}}</p> 
        <p><strong>Cost :</strong>&nbsp;&nbsp; {{detail_page_context.cost}}</p> 
        <p><strong>Job status :</strong>&nbsp;&nbsp; {{detail_page_context.job_status}}</p> 
        <p><strong>Collection time :</strong>&nbsp;&nbsp; {{detail_page_context.collection_time}}</p> 
        <p><strong>Payment status :</strong>&nbsp;&nbsp; {{detail_page_context.payment_status}}</p> 
        <p><strong>Created by :</strong>&nbsp;&nbsp; {{detail_page_context.created_date}}</p> 
        <p><strong>Created by :</strong>&nbsp;&nbsp; {{detail_page_context.created_by}}</p> 
  
        <div ><h3 class="text-center"> <strong>Client information</strong></h3>
  
          <p>Client ID : {{detail_page_context.customer.id}}</p>
          <p>First Name : {{detail_page_context.customer.first_name}}</p>
          <p>Last Name : {{detail_page_context.customer.last_name}}</p>
          <p> Mobile :{{detail_page_context.customer.phone}}</p>
          <p>Landline :{{detail_page_context.customer.landline}}</p>
          <p>Email :{{detail_page_context.customer.email}}</p>
          <p>Address :{{detail_page_context.customer.address}}</p>
          <p>Postcode :{{detail_page_context.customer.postcode}}</p>
  
  
         
        </div>
  
        
      </div>







</div>


















{% endblock %}