

{% extends 'base.html' %}

{% block content %}
<h3>retail_sale_page.html</h3>
    

    <div class="col border border-dark bg-light col-md-4 col-mb-4 ">
        

        Job id : {{j_deliver_context.id}} <br>
        IMEI : {{j_deliver_context.imei}} <br>
        Make : {{j_deliver_context.make}} <br>
        Model : {{j_deliver_context.model}} <br>
       <p name="Cost_name" id="cost_id"> Cost: £ {{j_deliver_context.cost}} <br><br></p>
         
       <form method="POST" action="#">
           {% csrf_token %}
           <input type="text" style="display: none;" value={{j_deliver_context.cost}} name="cost_name"> 
       <button id="mybtn" class="btn btn-primary" > Add to cart</button>
       
       </form>
    </div>
<br>

   
      <br>
      


      


{% endblock %}