

{% extends 'base.html' %}

{% block content %}
<h3>retail_sale_page.html</h3>
    

    <div class="col border border-dark bg-light col-md-4 col-mb-4 ">
        {% comment %} {% for j_deliver_context in j_deliver_context %} {% endcomment %}

        Job id : {{j_deliver_context.id}} <br>
        IMEI : {{j_deliver_context.imei}} <br>
        Make : {{j_deliver_context.make}} <br>
        Model : {{j_deliver_context.model}} <br>
       <p name="Cost_name" id="cost_id"> Cost: £ {{j_deliver_context.cost}} <br><br></p>
         
       
       <a id="mybtn" class="btn btn-primary" href="{% url 'customer_cart' j_deliver_context.id  %}" >Add to cart</a>
       {% comment %} {% endfor %} {% endcomment %}
       
    </div>
<br>

   
      <br>
      


      


{% endblock %}